In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('scooter.csv')
print(df.shape)
df.sample(10)

(34226, 11)

,month,trip_id,region_id,vehicle_id,started_at,ended_at,DURATION,start_location_name,end_location_name,user_id,trip_ledger_id
6153,June,1771698,202,4943618,6/2/2019 23:30,6/2/2019 23:54,0:24:22,"2950 Central Ave SE, Albuquerque, NM 87106, USA","5501 Benson Ct NW, Albuquerque, NM 87120, USA",38002132,1641997
23451,June,2113261,202,9197820,6/29/2019 2:46,6/29/2019 3:05,0:19:00,"104 Stanford Dr SE, Albuquerque, NM 87106, USA","114 Cornell Dr SE, Albuquerque, NM 87106, USA",42329629,1975722
5084,June,1755289,202,9504706,6/2/2019 0:17,6/2/2019 0:29,0:12:40,"1400 Central Ave SE, Albuquerque, NM 87106, USA","2820 Central Ave SE, Albuquerque, NM 87106, USA",37767108,1625914
26329,July,2214774,202,6999629,7/5/2019 22:08,7/5/2019 22:32,0:24:00,"300 Dr Martin Luther King Jr Ave NE, Albuquerq...","800 Broadway Blvd NE, Albuquerque, NM 87102, USA",42404625,2073564
2474,May,1704756,202,5727332,5/29/2019 1:17,5/29/2019 1:22,0:05:03,"301a Central Ave NW, Albuquerque, NM 87102, USA","512 Central Ave SE, Albuquerque, NM 87102, USA",35498126,1576737
9258,June,1823464,202,1884134,6/7/2019 14:42,6/7/2019 14:56,0:13:40,"330 Tijeras Ave NW, Albuquerque, NM 87102, USA","102 10th St SW, Albuquerque, NM 87102, USA",39068797,1692482
33534,July,2463629,202,8017941,7/21/2019 0:45,7/21/2019 0:51,0:06:00,"5th @ Marquette, Albuquerque, NM 87102, USA","111 3rd St NW, Albuquerque, NM 87102, USA",42574409,2321615
26289,July,2212824,202,8825568,7/5/2019 20:47,7/5/2019 20:53,0:06:00,"401 Gold Ave SW, Albuquerque, NM 87102, USA",NaN,42403584,2071270
7402,June,1794727,202,6810958,6/4/2019 23:36,6/5/2019 0:09,0:33:05,"2713 Central Ave NW, Albuquerque, NM 87104, USA","118 Rte 66, Albuquerque, NM 87102, USA",38553953,1664761
27100,July,2239189,202,7821247,7/7/2019 0:40,7/7/2019 1:09,0:29:00,"1801 Mountain Rd NW, Albuquerque, NM 87104, USA","2000 Mountain Rd NW, Albuquerque, NM 87104, USA",42422725,2097630

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34226 entries, 0 to 34225
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                34226 non-null  object
 1   trip_id              34226 non-null  int64
 2   region_id            34226 non-null  int64
 3   vehicle_id           34226 non-null  int64
 4   started_at           34226 non-null  object
 5   ended_at             34226 non-null  object
 6   DURATION             31918 non-null  object
 7   start_location_name  34220 non-null  object
 8   end_location_name    32156 non-null  object
 9   user_id              34226 non-null  int64
 10  trip_ledger_id       34226 non-null  int64
dtypes: int64(5), object(6)
memory usage: 2.9+ MB

In [36]:
df.isnull().sum()

month                     0
trip_id                   0
region_id                 0
vehicle_id                0
started_at                0
ended_at                  0
DURATION               2308
start_location_name       6
end_location_name      2070
user_id                   0
trip_ledger_id            0
dtype: int64

In [ ]:
df.columns

Index(['month', 'trip_id', 'region_id', 'vehicle_id', 'started_at', 'ended_at',
       'DURATION', 'start_location_name', 'end_location_name', 'user_id',
       'trip_ledger_id'],
      dtype='object')

In [28]:
df.loc[1]

month                                                                May
trip_id                                                          1613639
region_id                                                            202
vehicle_id                                                       9424537
started_at                                               5/21/2019 19:07
ended_at                                                 5/21/2019 19:12
DURATION                                                         0:04:57
start_location_name    1 Domenici Center en Domenici Center, Albuquer...
end_location_name        1111 Stanford Dr NE, Albuquerque, NM 87106, USA
user_id                                                          8417864
trip_ledger_id                                                   1488838
Name: 1, dtype: object

In [ ]:
df['start_location_name'].dropna(inplace=True)