# Lecture About List Tuple Sets Dictionary Loops

### List

a list is a versatile and commonly used data structure that stores an ordered collection of items

In [ ]:
var=[1,2,3,"kartik",True]

In [ ]:
var

In [ ]:
var.append(5)
var

In [ ]:
var.pop()
var

In [ ]:
var.insert(1,2)
var

In [ ]:
var.remove('kartik')

In [ ]:

var

In [ ]:

var.count(1)

In [ ]:
var.reverse()

In [ ]:
var

In [ ]:
var

In [ ]:
var.index(2)

In [ ]:
var.index(1)

In [ ]:
var.extend("string")

In [ ]:
var

In [ ]:
var.clear()

In [ ]:
var

In [ ]:
my_list = [1, 2, 3, 'apple', 'banana', True]

In [ ]:
# Extract 1 2 3 from the list
my_list[0:3]

In [ ]:
list1=[1,2,3,4,5,6,7]

In [ ]:
# Extract apple to True in the list
my_list[3:6]

In [ ]:
# Extract 3-true
my_list[2:]

In [ ]:
#Extract only true
my_list[-4:]

In [ ]:
my_list[2:]

In [ ]:
# Extract all the elemnts of even index
my_list[::2]

In [ ]:
my_list[::-1]

In [ ]:
# Length of list
len(my_list)

In [ ]:
#Concatenation
new_list = my_list + [4, 5, 'orange']
print(new_list)

In [ ]:
new_list=my_list*2
new_list

In [ ]:
# Mutablity 
my_list[0]="lok"

In [ ]:
my_list

### Dictionary

In [ ]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
dict1={'name':'Kartik','name':'arun'}

In [ ]:
dict1.get('name')

In [ ]:
my_dict.get('name')

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
empty_dict = dict()
another_dict = {'color': 'blue', 'size': 'medium'}

In [ ]:
another_dict

In [ ]:
print(my_dict['name'])    # Output: John
print(my_dict.get('age'))  # Output: 25

In [ ]:
my_dict['age'] = 26

In [ ]:
my_dict.update({'gender': 'male', 'height': 180})
popped_value = my_dict.pop('city')

In [ ]:
popped_value

In [ ]:
print(my_dict.get(26))

In [ ]:
my_dict.items()

In [ ]:
'city' in my_dict

In [ ]:
cube_dict={key: key**3 for key in range(0,20,3)} #for (key=0;key<21;key++)

In [ ]:
cube_dict

In [ ]:
nested_dict = {'person': {'name': 'Alice', 'age': 30}, 'location': {'city': 'Paris'}}

In [ ]:
nested_dict

In [ ]:
# Create a dictionary that takes your name, college name, city, age, gender

### Loops

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
for i in range(0,10,2):
    print(i)

In [ ]:
for i in range(1,100,2):
    print(i)

In [ ]:
# Question 1: Write a code to print odd numbers in a range

In [ ]:
fruits = ["apple", "orange", "banana"]
for i in fruits:
    print(i)

In [ ]:
# Nested for loops
arr=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
    print(arr[i])

In [ ]:
fruits = ["apple"]
for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

In [ ]:
names=["kartik","Yash","Michelle"]
age=[20,21,2]
for name,age in zip(names,age):
    print(f"{name}:{age}") # f stands for f-strings
#F-strings are a concise and convenient way to embed expressions inside string literals, allowing you to include variables and expressions directly in the string.

In [ ]:
# List Comprehensions with for Loops
square_list=[x**2 for x in range(1,11)]

In [ ]:
square_list

In [ ]:
my_list1=[x for x in range(1,20)]
cube_list=[x**3 for x in range(1,20)]
for name,cube in zip(my_list1,cube_list):
    print(f"{name}:{cube}")

In [ ]:
for i in range(10):
    if(i%2==0):
        continue
    else:
        print(i)

In [ ]:
for i in range(10):
    if(i%2==0):
        break
    else:
        print(i)

In [ ]:
for i in range(10):
    if(i%2==0):
        pass
    else:
        print(i)

In [ ]:
M=int(input())
N=int(input())
if(M<N):
    print(M)
else:
    while(M>=N):
        M-=N
    print(M)